.container {
    width: 100%;
    margin: auto;
}
.message   {
        border-left: 5px solid gray;
        padding-left: 5px;
        margin-bottom: 1rem;
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
button {
    padding: 5px 10px;
}

/* 48 rem = 768px (medium size) https://tailwindcss.com/docs/responsive-design */
@media (width >= 48rem) { 
    .container {
        width: 50%;
        margin: 10rem auto;
    }
}